<div class="container__big-card">
    <div class="big-card__photo">
        <img src="https://images.adsttc.com/media/images/63c5/b726/760d/d25c/1868/62b7/large_jpg/tornar-o-imaginario-visivel-as-cidades-futuristas-do-cinema_8.jpg?1673901872" 
        alt="Banner img">
    </div>
    <div class="big-card__title">
        <h1>Lançamento do MCK Blog</h1>
    </div>
    <div class="big-card__description">
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam aut enim non,
             temporibus illo fuga facere debitis tenetur aliquam nulla velit et dolorem sunt repellendus dolore atque neque,
              iste corporis?
        </p>
        <p class="link-more"><a href="#">Saiba mais</a></p>
    </div>
</div>
